{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/header.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'classroom/images/favicon.ico' %}">
	<title>{% block title %}{% endblock title %}</title>
	{% block extra_css %}{% endblock extra_css %}
</head>
<header>
		<div class="header-container">
			<a href="{% url 'classroom:home' %}"> Google Classroom Manager </a>
		</div>

</header>
<body>

    {% block content %}{% endblock content %}

</body>
</html>
