{% extends 'base/header.html' %}

{% load static %}

{% block title %} Groups {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/groups.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
	<div class="main-container">
		<div class="main-title-container">
			<p> Lista de grupos </p>
		</div>

		<div class="groups-container">
			<div class="groups-button-container">
				<div class="groups-button">
					<a href={% url 'classroom:create_group' %}> Criar novo grupo </a>
				</div>
			</div>
			{% for group in object_list %}
				<div class="group-container">
					<div class="group-info-container">
						<b>{{ group.name }}</b>
					</div>
					<div class="buttons-container">
						<a class="button-container btn" href="{% url 'classroom:group' group.pk %}"> Ver grupo </a>
						<a class="button-container btn" href="{% url 'classroom:update_group' group.pk %}"> Editar grupo </a>
						<button onclick="document.getElementById('delete-message-' + {{ group.id }}).style.display='block'" class="button-container remove-button-style"> Deletar </button>
					</div>
				</div>
			<div id="delete-message-{{ group.id }}" class="modal">
				<div class="container">
				  <h1>Deletar grupo</h1>
					<p>Tem certeza de que deseja deletar o grupo {{ group.name}}?</p>

				  <div class="clearfix">
						<button onclick="document.getElementById('delete-message-' + {{ group.id }}).style.display='none'" class="button-container btn">Cancelar</button>
					<button type="button" class="remove-button remove-button-style button-container" data-update-url="{% url 'classroom:delete_group' %}" data-group-id="{{group.pk}}">Deletar</button>
				  </div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>


</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'classroom/js/cookie.js' %}"></script>
<script>
$(document).ready(function() {
	$('.remove-button').click(function() {
		const csrftoken = getCookie('csrftoken');
		const groupId = $(this).data('group-id');
		const updateUrl = $(this).data('update-url');

	$.ajax({
		url: updateUrl,
		method: 'POST',
		headers: {'X-CSRFToken': csrftoken},
		data: {'group_id': groupId},
		mode: 'same-origin',
		success: function(response) {
				if(response.status == 'error') {
					alert(response.error)
				} else {
					location.reload();
				}
			}
	
		})
	})
})
</script>
{% endblock content %}
