{% extends 'base/header.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %} Create Group of Classes {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/styles.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
	<div class="main-container">
		<div class="return-button-container-container">
			<div class="return-button-container-create">
				<button class="return-button" onclick="window.history.back()"> Voltar </button>
			</div>
		</div>
		<form method="POST">
			<div class="form-container">
				{% csrf_token %}
				<div class="form-title-container">
					<p>Registre um grupo de turmas</p>
				</div>
				<div class="form-fields-container">
					<div class="field-container">
						{{ form.name.label }}:
						{% render_field form.name class="form-control" %}
						{% if form.name.errors %}
							{% for error in form.name.errors %}
								<p class="field-error-container">{{ error }}</p>
							{% endfor %}
						{% endif %}
					</div>
					<div class="field-container">
						{{ form.avaliable_classes.label }}:
						{% if form.avaliable_classes.errors %}
							{% for error in form.avaliable_classes.errors %}
								<p class="field-error-container">{{ error }}</p>
							{% endfor %}
						{% endif %}
						{% render_field form.avaliable_classes class="checkbox-form-control" %}

					</div>
				</div>
				<div class="form-input-container">
					<input class="form-input" type="submit" value="Criar grupo">
				</div>
			</div>
		</form>
	</div>
</main>
{% endblock content %}
