{% extends 'base/header.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %} Create Group of Classes {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/group_detail.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/styles.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
	<div class="main-container">
		<div class="return-button-container-container">
			<div class="return-button-container-create">
				<a class="return-button" href="{% url 'classroom:groups' %}"> Voltar </a>
			</div>
		</div>
		<div class="group-info-container">
			<div class="group-title-container">
			{% if approved_list_error %}
				<div class="error-message-container-container">
					<div class="error-message-container">
						<p> {{ approved_list_error }} </p>
					</div>
				</div>
			{% endif %}
			<div class="email-success-message-container">
				{% if email_success %}
				<div class="email-success-message">
					{{ email_success }}
				</div>
				{% endif %}
			</div>
			<div class="email-error-message-container">
				{% if email_error %}
				<div class="email-error-message">
						<b>{{ email_error }}</b>
				</div>
				{% endif %}
			</div>
				<p> Grupo: <b>{{ group.name }}</b> </p>
				{% if num_students %}
					<p> {{ num_students }} estudantes matriculados </p>
				{% else %}
					<p> Nenhum estudante matriculado </p>
				{% endif %}

				{% if num_approved_list %}
					<p> Esperam-se {{ num_approved_list }} estudantes na turma. </p>
				{% endif %}

				<div class="group-info-input-container">
				<div class="student-info-input-container input-group">
					<div class="input-group-title">
						<p> Lista de estudantes </p>
					</div>

					<button id="list-collapse" type="button" class="collapse-flex button-top-container">Definir lista de estudantes aprovados</button>
					<div id="set-list-container" class="approved-list-set-container">
							<select id="form-select">
								<option value="default"> Selecionar... </option>
								<option value="csv"> Csv </option>
								<option value="gform"> Google Forms </option>
							</select>
							<form class="approved-form" id="csv-form" method="POST" enctype="multipart/form-data">

								{% csrf_token %}
								Insira o arquivo com a lista:
								<div class="form-input-area">
									<div class="form-input-container">
									{% render_field approved_form_csv.approved_list_csv class="form-file-input" %}
									</div>
									<div class="form-submit-container">
										<button id="csv-button" type="submit" class="form-submit" value="Definir" data-set-url="{% url 'classroom:set_approved_list' %}" data-group-id="{{ group.pk }}">Definir</button>
									</div>
								</div>
								<div class="form-csv-message-container"></div>

							</form>
							<form class="approved-form" id="gform-form" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								{{ approved_form_gforms.associated_form.label }}:
								<div class="form-input-area">

									<div class="form-input-container">
										{% render_field approved_form_gforms.associated_form class="form-select-input" %}
									</div>
									<div class="form-submit-container">
										<button id="gform-button" type="submit" class="form-submit" value="Definir" data-set-url="{% url 'classroom:set_approved_list_google' %}" data-group-id="{{ group.pk }}">Definir</button>							
									</div>
								</div>
								<div class="form-gform-message-container"></div>
							</form>
					</div>

						<button class="update-button button-top-container" data-update-url="{% url 'classroom:group' group.pk %}" data-group-id="{{ group.pk }}">Atualizar lista de estudantes matriculados</button>
						<p id="loading-message" class="loading-message"> Atualizando lista de estudantes matriculados. Aguarde... </p>
						{% if approved_list %}
							<a href="{% url 'classroom:missing' group.pk %}" class="link-button-container">Gerenciar lista de estudantes ainda não matriculados</a>
						{% endif %}
					</div>
					<div class="email-info-input-container input-group">
						<div class="input-group-title">
							<p> E-mails </p>
						</div>
						<a href="{% url 'classroom:send_email' group.pk %}" class="link-button-container">Enviar e-mail para estudantes </a> 
						<a href="{% url 'classroom:messages' group.pk %}" class="link-button-container">Ver e-mails enviados</a> 
					</div>

				</div>
				<div id="success-message" class="success-message">
					Lista de estudantes matriculados atualizada com sucesso
				</div>
			</div>
		


			<div class="group-classes-container">
				<p class="classes"> Classes: </p>
				{% for student_group in group.students %}
					<div class="class-info-container">
						<div class="class-title-container">
							<p> {{ student_group.0 }}</p>
						</div>
						<button type="button" class="collapse button-container">Ver lista de estudantes matriculados</button>
						<div class="class-students-container">
						{% for student in student_group.1 %}
							<div class="class-student-container">
								<p>{{ student.id }} - {{ student.fullname }} - {{ student.email }}</p>
							</div>
						{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'classroom/js/cookie.js' %}"></script>
<script>
$(document).ready(function() {
	const select = document.getElementById('form-select');

	select.addEventListener('change', function handleChange(event) {
		if(event.target.value == 'gform') {
			$('#csv-form').hide();
			$('#gform-form').show();
		}
		if(event.target.value == 'csv') {
			$('#gform-form').hide();
			$('#csv-form').show();
		}
		if(event.target.value == 'default') {
			$('#gform-form').hide();
			$('#csv-form').hide();
		}
	});

	$('#gform-form').on('submit', function(event) {
		event.preventDefault();

		form = document.getElementById("gform-form");
		var formData = new FormData(form);
		var setUrl = $('#gform-button').data('set-url');
		const groupId = $('#gform-button').data('group-id');
		const csrftoken = getCookie('csrftoken');

		formData.append('groupId', groupId);

		$.ajax({
			url: setUrl,
			type: "POST",
			data: formData,
			headers:{'X-CSRFToken': csrftoken},
			processData: false,
			contentType: false,
			mode: 'same-origin',
			success: function(response) {
				if (response.error) {
					$(".form-gform-message-container").css('color', 'red');
					$(".form-gform-message-container").show();
					$(".form-gform-message-container").html(response.error)
					setTimeout(() => {
						$('.form-gform-message-container').slideUp("slow");
					}, 5000);	
				} else {
					$(".form-gform-message-container").css('color', 'green');
					$(".form-gform-message-container").show();
					$(".form-gform-message-container").html(response.status)
					setTimeout(() => {
						$('.form-gform-message-container').slideUp("slow");
					}, 5000);	
				}
			}
		})

	})

	$('#csv-form').on('submit', function(event) {
		event.preventDefault();

		form = document.getElementById("csv-form");
		var formData = new FormData(form);
		var setUrl = $('#csv-button').data('set-url');
		const groupId = $('#csv-button').data('group-id');
		const csrftoken = getCookie('csrftoken');

		formData.append('groupId', groupId);

		$.ajax({
			url: setUrl,
			type: "POST",
			data: formData,
			headers: {'X-CSRFToken': csrftoken},
			contentType: false,
			processData: false,
			mode: 'same-origin',
			success: function(response) {
				if (response.error) {
					$(".form-csv-message-container").css('color', 'red');
					$(".form-csv-message-container").html(response.error)
					setTimeout(() => {
						$('.form-csv-message-container').slideUp("slow");
					}, 5000);	
				} else {
					$(".form-csv-message-container").css('color', 'green');
					$(".form-csv-message-container").html(response.status)
					setTimeout(() => {
						$('.form-csv-message-container').slideUp("slow");
					}, 5000);	
				}
			}
		})
	})

	setTimeout(() => {
		$(".email-success-message-container").slideUp("slow");
	}, 5000);

	setTimeout(() => {
		$(".email-error-message-container").slideUp("slow");
	}, 5000);

	$('.update-button').click(function() {
		$('#loading-message').slideDown("slow");
		const csrftoken = getCookie('csrftoken');
		const updateUrl = $(this).data('update-url');
		const groupId = $(this).data('group-id');
		$.ajax({
				url: updateUrl,
				method: 'POST',
				headers: {'X-CSRFToken': csrftoken},
				data: {'group_id': groupId},
				mode: 'same-origin',
				success: function(response) {
					if (response.error) {
						alert(response.error);
					} else {
						$('#success-message').fadeIn("fast");
						$('#loading-message').hide();
						setTimeout(() => {
							$('#success-message').slideUp("slow");
					    }, 5000);	
						location.reload()
					}
				}
			})
		})
	})


var coll = document.getElementsByClassName("collapse");
var i;

for (i = 0; i < coll.length; i++) {
	coll[i].addEventListener("click", function () {
		this.classList.toggle("active");
		var content = this.nextElementSibling;

		if (content.style.display === "block") {
			coll.value = "Close student list";
			content.style.display = "none";
		} else {
			content.style.display = "block";
		}
	})
}

var coll = document.getElementsByClassName("collapse-flex");
var i;

for (i = 0; i < coll.length; i++) {
	coll[i].addEventListener("click", function () {
		this.classList.toggle("active");
		var content = this.nextElementSibling;

		if (content.style.display === "flex") {
			coll.value = "Close student list";
			content.style.display = "none";
		} else {
			content.style.display = "flex";
		}
	})
}

var forms = document.getElementById("set-list-container");
$("list-collapse").click(function () {
	$('set-list-container').toggle();
})

	setTimeout(() => {
		$('.error-message-container').slideUp('slow');
		
	}, 5000);
</script>
{% endblock content %}
