{% extends 'base/header.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %} Create Group of Classes {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/missing_students.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/styles.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
	{% csrf_token %}
	<div class="main-container">
			<div class="return-button-container-container">
				<div class="return-button-container-create">
				<a class="return-button" href="{% url 'classroom:group' group.pk %}"> Voltar </a>
				</div>
			</div>
		<div class="email-success-message-container">
			{% if email_success %}
				<div class="email-success-message">
				{{ email_success }}
				</div>
			{% endif %}
		</div>
		<div class="email-error-message-container">
			{% if email_error %}
				<div class="email-error-message">
				{{ email_error }}
				</div>
			{% endif %}
		</div>
		<div class="content-container">
			<div class="content-header-container">
				{% if missing_list %}
				<div class="missing-students-number">
					Número de estudantes ainda não matriculados: {{ num_missing_list }}
				</div>
				<div class="buttons-container">
					<button class="header-button" id="view-list-button" data-update-url="{% url 'classroom:missing' group.pk %}">Ver lista</button>

				</div>
			</div>
			<div class="missing-students-list">
				{% for student in missing_list %}
					<div class="missing-student">
					{{ student.email }} - {{ student.fullname }}<br>
					</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<div class="comparison-container">
			{% if missing_list %}
			<div class="comparison-button-container">
				<button class="body-button" id="update-button">Atualizar lista de estudantes não-matriculados</button>	
				<a class="body-button" href={% url 'classroom:send_email' object.id %}>Enviar e-mail para estudantes não-matriculados</a>
			</div>
			{% endif %}
			{% if comparison_list %}
				<div class="lists-container">
					<div class="list-container">
						<p> Alunos não selecionados </p>
						<div class="not-selected">
							{% for comparison in comparison_list %}
							<div class="card-container">
								{{ comparison.0 }}</br>{{ comparison.1 }}</br></br>
								Are they the same person?
								<div class="buttons-container">
									<button class="yes-button button" value="{{ comparison.0 }},{{ comparison.2 }}">Yes</button>
									<button class="no-button button" value="{{ comparison.0 }},{{ comparison.1}},{{ comparison.2 }}">No</button>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="list-container">
						<div class="selected-container">
							<p> Alunos presentes </p>
							<div class="selected">
							</div>
						</div>
					</div>
					<div class="list-container">
						<div class="not-enrolled-container">
							<p> Alunos faltantes </p>
							<div class="not-enrolled">
							</div>
						</div>
					</div>
				</div>
			{% else %}
				{% if enrolled_error %}
					<div class="message">
						<p> {{ lists_error }} </p>
					</div>
				{% else %}
					<div class="message">
						<p> Sem irregularidades encontradas nas matrículas </p>
					</div>
				{% endif %}
			{% endif %}
			
		</div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'classroom/js/cookie.js' %}"></script>
<script>

const notMissingList = []
const missingList = []

$(document).ready(function () {
	setTimeout(() => {
		$(".email-success-message-container").slideUp("slow");
	}, 5000);

	var active = false;
	$('#view-list-button').click(function () {
		if (active) {
			active = false;
			$('.missing-students-list').hide();
		} else {
			active = true;
			$('.missing-students-list').show();
		}
	})

	$('.yes-button').click(function () {
		var data = $(this).val();
		data = data.split(',');

		if(!searchInArray(notMissingList, data[0])) {
			notMissingList.push(data);

			var index = searchInArray(missingList, data[0])
			if(index !== false) {
				missingList.splice(index, 1)
			}

			$(this).parent().parent().appendTo('.selected');
		}
		for(let i = 0; i < notMissingList.length; i++){
			console.log(notMissingList[i])
		}
	})

	$('.no-button').click(function() {
		var data = $(this).val();
		data = data.split(',');

		if($(this).parent().parent().parent()[0].className == 'not-selected') {
			var notSelected = true;
		} else {
			var notSelected = false;
		}

		if(!notSelected) {
			var index = searchInArray(notMissingList, data[0]);
			if (index !== false) {
				console.log('removendo ' + notMissingList[index])
				notMissingList.splice(index, 1);
			} 
		}

		if (!searchForArray(data, missingList)) {
			console.log('inserindo ' + data)
			missingList.push(data);
		}

		for(let i = 0; i < missingList.length; i++){
			console.log(missingList[i])
		}

		$(this).parent().parent().appendTo('.not-enrolled');
	})

	function searchInArray(arr, item) {
		for (let i = 0; i < arr.length; i++) {
			for (let j = 0; j < arr[i].length; j++) {
			if (arr[i][j] == item) {
					return i;
				}
			}
		}
		return false;
	}

	function searchForArray(arr1, arr2) {
		var i, j, current;
		for(i = 0; i < arr2.length; i++) {
			if(arr1.length == arr2[i].length) {
				current = arr2[i];
				for(j = 0; j < arr1.length && arr1[j] == current[j]; ++j);
				if(j === arr1.length) {
					return true;
				}
			}
		}
		return false;
	}

	$('#update-button').click(function() {
		const csrftoken = getCookie('csrftoken');
		const updateUrl = $(this).data('update-url');

		$.ajax({
			url: updateUrl,
			method: 'POST',
			headers: {'X-CSRFToken': csrftoken},
			data: { 
				'not_missing_list[]': notMissingList,
				'missing_list[]': missingList
			}, 
			mode: 'same-origin',
			success: function(response) {
					if(response.error) {
						alert(response.error);
					} else {
						location.reload();
					}
				}
		})
	})
})

</script>
{% endblock content %}
