{% extends 'base/header.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %} Create Group of Classes {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'classroom/css/missing_students.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
	<div class="main-container">
		<div class="content-container">
			<button id="view-list-button" data-update-url="{% url 'classroom:missing' group.pk %}">View missing students list</button>
			<div class="missing-students-number">
				Number of missing_students: {{ num_missing_list }}
			</div>
			<div class="missing-students-list">
				{% for student in missing_list %}
					<div class="missing-student">
					{{ student.email }} - {{ student.fullname }}<br>
					</div>
				{% endfor %}
				<br>
			</div>
		</div>
		<div class="comparison-container">
			<div class="comparison-header-container">
				<button id="update-button">Update enrolled students list</button>	
			</div>
			<div class="lists-container">
				<div class="list-container">
					<p> Alunos não selecionados </p>
					<div class="not-selected">
						{% for comparison in comparison_list %}
						<div class="card-container">
							{{ comparison.0 }} vs {{ comparison.1 }}
							Are they the same person?
							<button class="yes-button" value="{{ comparison.0 }}">Yes</button><button class="no-button" value="{{ comparison.0 }}">No</button>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="list-container">
					<div class="selected-container">
						<p> Alunos presentes </p>
						<div class="selected">
						</div>
					</div>
				</div>
			</div>
		</div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

const notMissingList = []

$(document).ready(function () {
	var active = false;
	$('#view-list-button').click(function () {
		if (active) {
			active = false;
			$('.missing-students-list').hide();
		} else {
			active = true;
			$('.missing-students-list').show();
		}
	})
	$('.yes-button').click(function () {
		var name = $(this).val();

		if(!notMissingList.includes(name)) {
			notMissingList.push(name);
			$(this).parent().appendTo('.selected');
		}
	})

	$('.no-button').click(function() {
		var name = $(this).val();

		if (notMissingList.includes(name)) {
			let index = notMissingList.indexOf(name);
			notMissingList.splice(index, 1);
			$('.not-selected').prepend($(this).parent());
		}
	})

	$('#update-button').click(function() {
		function getCookie(name) {
			let cookieValue = null;
			if(document.cookie && document.cookie != '') {
				const cookies = document.cookie.split(';');
				for(let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();

					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}	

		const csrftoken = getCookie('csrftoken');
		const updateUrl = $(this).data('update-url');

		$.ajax({
			url: updateUrl,
			method: 'POST',
			headers: {'X-CSRFToken': csrftoken},
			data: { not_missing_list: notMissingList}, 
			mode: 'same-origin',
			success: function(response) {
					if(response.error) {
						alert(response.error);
					} else {
						console.log('treco')
						location.reload()
					}
				}
		})
	})
})

</script>
{% endblock content %}
